<aside>
  <div class="logo">
    <a href="/">
      bookstore 📚
    </a>
  </div>
  <input type="checkbox" id="nav-check" />
  <nav>
    <ul>
      <li class="subhead">MENU</li>
      <li>
        <a class="nav scrolltoview" href="/search"><span class="icon"><i class="fas fa-search"></i></span>Search</a>
      </li>
      <li>
        <a class="nav scrolltoview" href=""><span class="icon"><i class="fas fa-sign-in-alt"></i></span>Login</a>
      </li>
      <li>
        <a class="nav scrolltoview" href="/favorites"><span class="icon"><i
              class="fas fa-heart"></i></span>Favorites</a>
      </li>
      <li>
        <a class="nav scrolltoview" href="/cart"><span class="icon"><i class="fas fa-shopping-cart"></i></span>Cart</a>
      </li>
      <li class="subhead">CATEGORIES</li>
      <li>
        <a class="nav scrolltoview" href="">Sci-fi</a>
      </li>
      <li>
        <a class="nav scrolltoview" href="">Sports</a>
      </li>
      <li>
        <a class="nav scrolltoview" href="">Electronics</a>
      </li>
      <li>
        <a class="nav scrolltoview" href="">Programming</a>
      </li>
    </ul>
  </nav>
</aside>