<aside>
  <div class="logo">
    <a href="/">
      könyv-vedd 📚
    </a>
  </div>
  <input type="checkbox" id="nav-check" />
  <nav>
    <ul>
      <li class="subhead">EZKÖZÖK</li>
      <li>
        <a class="nav scrolltoview" href="/search"><span class="icon"><i class="fas fa-search"></i></span>Keresés</a>
      </li>
      <li>
        <a class="nav scrolltoview" href=""><span class="icon"><i class="fas fa-sign-in-alt"></i></span>Belépés</a>
      </li>
      <li>
        <a class="nav scrolltoview" href="/favorites"><span class="icon"><i
              class="fas fa-heart"></i></span>Kedvencek</a>
      </li>
      <li>
        <a class="nav scrolltoview" href="/cart"><span class="icon"><i class="fas fa-shopping-cart"></i></span>Kosár</a>
      </li>
      <li class="subhead">KATEGÓRIÁK</li>
      <li>
        <a class="nav scrolltoview" href="">sci-fi</a>
      </li>
      <li>
        <a class="nav scrolltoview" href="">sport</a>
      </li>
      <li>
        <a class="nav scrolltoview" href="">elektronika</a>
      </li>
      <li>
        <a class="nav scrolltoview" href="">romantika</a>
      </li>
    </ul>
  </nav>
</aside>