@import "index.css";

.quantity {
  border-color: transparent;
  background-color: #dfdfdf;
}

.quantity:hover {
  border-color: transparent;
  background-color: #dfdfdf;
}

.plusminus {
  border-color: #eeeeee;
  background-color: #ebebeb;
}

.plusminus:hover {
  border-color: #dfdfdf;
  background-color: #dfdfdf;
}
